
div#tekst_sverhu_kartinki {
position: absolute;
}
.tekst_sverhu_kartinki {
    position: absolute;
    top:75%;
}
#myBlock {
    background-color: rgb(250, 250, 250);
    width: 1440px;
    height: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#anotherBlock {
    background-color: rgb(250, 250, 250);
    width: 1440px;
    height: 600px;
    position: absolute;
    top: 605px;
    left: 50%;
    transform: translateX(-50%);
}
.text{
    position: absolute;
    bottom: -378px;
    left: 129px; 
    max-width: 412px;
    margin: -5px;
    color:#48555B;
    font-family: Arial, sans-serif;
}
.text1{
    position: absolute;
    bottom: -569px;
    left: 129px; 
    max-width: 480px;
    margin: -5px;
    color:#48555B;	
    font-family: Arial, sans-serif;
    
}